.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-size: .875rem;
    font-family: var(--second-family);
    line-height: 1.2;
    border: 1px solid var(--button-color-border);
    border-radius: 60px;
    height: 44px;
    cursor: pointer;
    padding: 10px 20px;
    color: var(--button-color);
    background-color: var(--button-bg);
    transition: color .2s ease, background-color .2s ease;
    &:hover{
        color: var(--button-color-hover);
        background-color: var(--button-bg-hover);
    }
}