.hero {
    height: 100vh;
    // .hero__container

    // &__container {
    //     --container-max-width: 1920px;
    //     --container-padding-inline: 0px;
    // }
    // .hero__wrapper

    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 120px;
            padding-top: 160px;
        }
    }

    // .hero__content

    &__content {
        align-self: center;
        justify-self: center;
        max-width: 600px;

        @media screen and (max-width: 1024px) {
            padding-inline: 15px;
            max-width: 630px;
        }
    }

    // .hero__title

    &__title {
        font-family: var(--second-family);
        font-size: 2.75rem; //44px
        letter-spacing: .125rem; //2px
        line-height: 1.4;
        font-weight: 500;
        margin-bottom: 30px;
        text-transform: uppercase;

        @media screen and (max-width: 1024px) {
            font-size: 1.875rem; //30px
            margin-bottom: 20px;
        }
    }

    // .hero__description

    &__description {
        max-width: 495px;
        margin-bottom: 60px;

        @media screen and (max-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    // .hero__button

    &__button {
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    // .hero__decoration-image

    &__decoration-image {
        background-image: url("../images/hero/hero-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: relative;

        @media screen and (max-width: 1024px){
            &::after, 
            &::before{
                position: absolute;
                font-size: 2.75rem;
                line-height: 1.4;
                text-transform: uppercase;
            }
            &::after{
                content: "Where Nature";
                color: var(--text-dark);
                top: -50px;
            }
            &::before{
                content: "Meets Luxury";
                color: var(--text-white);
                bottom: 0;
                right: 0;
            }
        }
        @media screen and (max-width: 600px){
            background-image: url("../images/hero/hero-bg-small.webp");
            max-height: 390px;
        }
    }

    &__decoration-text {
        // Общие стили для обоих псевдоэлементов
        &::before,
        &::after {
            position: fixed; // Фиксированное позиционирование относительно экрана
            bottom: 42px; // Вертикальное центрирование
            font-size: 5.5rem; //88px
            font-family: var(--second-family);
            font-weight: 400;
            letter-spacing: 0.03rem;
            line-height: 1.4;
            text-transform: uppercase;
            transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            opacity: 0;
            white-space: nowrap;
            /* Обратите внимание, что здесь по умолчанию задаётся только вертикальное смещение */
            transform: translateY(-50%);
        }

        // Левый псевдоэлемент: его правая сторона будет прикреплена к центру
        &::before {
            content: "Where Nature";
            color: var(--text-dark);
            right: 50%; // Правая сторона элемента в 50% от левого края окна
            // Начальное положение – за экраном слева
            transform: translateX(-100vw) translateY(-50%);
        }

        // Правый псевдоэлемент: его левая сторона будет прикреплена к центру
        &::after {
            content: "Meets Luxury";
            color: var(--text-white);
            left: 50%; // Левая сторона элемента в 50% от левого края окна
            // Начальное положение – за экраном справа
            transform: translateX(100vw) translateY(-50%);
        }

        // При добавлении класса .active псевдоэлементы перемещаются так, чтобы их внутренние края встретились в центре
        &.active {
            &::before {
                transform: translateX(0) translateY(-50%);
                opacity: 1;
            }

            &::after {
                transform: translateX(0) translateY(-50%);
                opacity: 1;
            }
        }
        @media screen and (max-width: 1024px){
            display: none;
        }
    }
}