.hero {

    // .hero__container

    &__container {
        --container-max-width: 1920px;
        --container-padding-inline: 0px;
    }

    // .hero__wrapper

    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: 1024px){
            grid-template-columns: 1fr;
            gap: 120px;
            padding-top: 120px;
        }
    }
    
    // .hero__content

    &__content {
        align-self: center;
        justify-self: center;
        max-width: 600px;
        @media screen and (max-width: 1024px){
            padding-inline: 15px;
            max-width: 630px;
        }
    }

    // .hero__title

    &__title {
        font-family: var(--second-family);
        font-size: 2.75rem; //44px
        letter-spacing: .125rem; //2px
        line-height: 1.4;
        font-weight: 500;
        margin-bottom: 30px;
        text-transform: uppercase;
        @media screen and (max-width: 1024px) {
            font-size: 1.875rem; //30px
            margin-bottom: 20px;
        }
    }

    // .hero__description

    &__description {
        max-width: 495px;
        margin-bottom: 60px;
        @media screen and (max-width: 1024px){
            margin-bottom: 40px;
        }
    }

    // .hero__button

    &__button {
    @media screen and (max-width: 768px){
        width: 100%;
    }
    }

    // .hero__decoration-image

    &__decoration-image {
        background-image: url("../images/hero/hero-bg.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-height: 1080px;
        height: 100vh;
        width: 100%;
        @media screen and (max-width: 1024px){
            max-height: 560px;
        }
        @media screen and (max-width: 390px){
            max-height: 390px;
        }
    }

    &__decoration-text {
        bottom: 0;
        width: 100%;
        position: absolute;
        font-family: var(--second-family);
        &::after {
            content: "Where Nature";
            text-transform: uppercase;
            position: absolute;
            bottom: 42px;
            left: 0;
            font-size: 5.5rem;
            line-height: 1.4;
            letter-spacing: 0.03rem; //24px
            color: var(--text-dark);
            // анимация
            animation-name: textSlideLeft;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            @media screen and (max-width: 1376px){
                font-size: 5rem;
            }
            @media screen and (max-width: 1270px){
                font-size: 4.5rem;
            }
            @media screen and (max-width: 1200px){
                font-size: 3.5rem;
            }
            @media screen and (max-width: 1024px){
                bottom: 545px;
                font-size: 2.75rem;
            }
            @media screen and (max-width: 390px){
                bottom: 375px;
            }
        }

        &::before {
            content: "Meets Luxury";
            text-transform: uppercase;
            position: absolute;
            bottom: 42px;
            right: 0;
            font-size: 5.5rem;
            line-height: 1.4;
            letter-spacing: 0.03rem; 
            color: var(--text-white);
            animation-name: textSlideRight;
            animation-duration: 1s;
            animation-fill-mode: forwards; 
            @media screen and (max-width: 1376px){
                font-size: 5rem;
            }
            @media screen and (max-width: 1270px){
                font-size: 4.5rem;
            }

            @media screen and (max-width: 1200px){
                font-size: 3.5rem;
            }
            @media screen and (max-width: 1024px){
                bottom: 0;
                font-size: 2.75rem;
            }
        }
    }
}
@keyframes textSlideLeft {
    from {
        left: -50%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
@keyframes textSlideRight {
    from {
        right: -50%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}
@media screen and (width >= 1441px){
    @keyframes textSlideLeft {
        from {
            left: -50%;
            opacity: 0;
        }
        to {
            left: 5%;
            opacity: 1;
        }
    }
    @keyframes textSlideRight {
        from {
            right: -50%;
            opacity: 0;
        }
        to {
            right: 5%;
            opacity: 1;
        }
    }
}
